body, html {
  height: 100%;
}

* {
	font:8pt MS Shell Dlg;
}

body {
	margin: 0;
}

table {
	border-width:0;
	border-collapse:collapse;
	cursor:default;
}

td {
	white-space:nowrap;
}

button {
	width:120px;
	white-space:nowrap;
}

img {
	vertical-align: middle;
}

/*------------------------------------*/

.tab_on {
	font:bold 10pt verdana;
	border-style:outset;
	border-width:1px 2px 1px 1px;
	text-align:center;
	height:21px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#808080, EndColorStr=#FFFFFF);*/
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#4D7D93, EndColorStr=#F7FAFB);
}

.tab_off {
	font:bold 10pt verdana;
	border-style:outset;
	border-width:1px 2px 1px 1px;
	text-align:center;
	height:21px;
	color: #E4EFF1;
}

.tab_off:hover {
	background-color:#4D7D93;
}

/*------------------------------------*/

.chk {
	width:120px;
}

.chk input {
	height:16px;
}

.chk div {
	color:#E5F4F7;
}

.chk div:hover {
	color:#174155;
}

/*------------------------------------*/

.tHeader {
	height:21px;
	border:1px outset;
}

#idCaption {
	width:100%;
	font-weight:bold;
	text-align:center;
	color:#174155;
}

#idSort {
	width:20px;
	font:10pt Marlett;
	cursor:hand;
	color: #2E81A9;
}

#idSort:hover {
	color: #174155;
}

#idRsz {
	width:16px;
	cursor:col-resize;
}

/*------------------------------------*/

#idContent {
	height:503px;
	overflow-y:scroll;
	overflow-x:hidden;
}

#idList {
	table-layout:fixed;
}

/*------------------------------------*/

#idWait {
	position:absolute;
	width: 1186px;
	height: 560px;
	background: #FFFFE1;
	filter: alpha(Opacity=70);
	text-align:center;
}

#idWait img{
	margin-top:140px;
}

/*------------------------------------*/

.dependencies {
	position:absolute;
	background-color: infobackground;
	border:1px solid gray;
}

.dependencies th {
	text-align:left;
	color:gray;
	padding: 0 4px 0 4px;
}

.dependencies td {
	padding: 0 4px 0 4px;
}
